<a href="/employee/create" class="w-100 btn btn-primary">Create New Employee </a>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Phone</th>
                <th scope="col">Email</th>
                <th scope="col">Address</th>
                <th scope="col">Department Id</th>
                <th scope="col">Action</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.Name</td>
                    <td>@item.Phone</td>
                    <td>@item.Email</td>
                    <td>@item.Address</td>
                    <td>@item.DepartmentId</td>
                    <td>
                        <a class="btn btn-warning" href="/employee/edit/@item.Id">Edit</a>
                        <a class="btn btn-danger" href="/employee/delete/@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>