<!-- ==========Page Header Section Start Here========== -->
<section class="page-header-section service-title style-1"
         style="background-image: url('@Url.Content("~/images/pageheader/pageheader.jpg")')">
    <div class="page-header-content">
        <div class="container">
            <div class="page-header-content-inner">
                <div class="page-title">
                    <h2>Our Professional Team</h2>
                </div>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="doctor.html"> Doctors</a></li>
                    <li class="active">@Model.Name</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!-- ==========Page Header Section Ends Here========== -->
<!-- ==========Doctor-about Section start Here========== -->
<section class="about-section style-2 padding-tb">
    <div class="container">
        <div class="section-wrapper">
            <div class="row">
                <div class="col-xl-6 col-12">
                    <div class="post-thumb">
                        <img src="~/images/team/doctor-single/01.jpg" alt="doctor-img" class="img-fluid">
                    </div>
                </div>
                <div class="col-xl-6 col-12">
                    <div class="about-item">
                        <div class="section-heading">
                            <h3>@Model.Name</h3>
                            <span class="disi">Chief of @Model.Specialization</span>
                            <p>
                                @Model.Details
                            </p>
                            <h4>Personal Statement</h4>
                            <p>
                                @Model.Details
                            </p>
                        </div>
                        <div class="about-content">
                            <ul>
                                <li>
                                    <div class="name">
                                        <p>Adress</p>
                                    </div>
                                    <div class="info">
                                        <p>@Model.Address</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="name">
                                        <p>Email</p>
                                    </div>
                                    <div class="info">
                                        <p>@Model.Email</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="name">
                                        <p>Phone</p>
                                    </div>
                                    <div class="info">
                                        <p>@Model.Phone</p>
                                    </div>
                                </li>
                                
                               
                                <li>
                                    <div class="name">
                                        <p>Follow us</p>
                                    </div>
                                    <div class="info">
                                        <p>
                                            <a href="#">
                                                <i class="icofont-twitter"></i>
                                            </a>
                                            <a href="#">
                                                <i class="icofont-instagram"></i>
                                            </a>
                                            <a href="#">
                                                <i class="icofont-globe"></i>
                                            </a>
                                            <a href="#">
                                                <i class="icofont-vimeo"></i>
                                            </a>
                                            <a href="#">
                                                <i class="icofont-behance"></i>
                                            </a>
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sp-personal-content">
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div class="skill-items">
                            <h5>Personal Skill</h5>
                            <div class="skill-bar d-flex flex-wrap justify-content-center justify-content-sm-start">
                                <div class="skill-item">
                                    <div class="pie" data-pie='{ "index": 3, "percent": 96, "colorSlice": "#FF4600", "colorCircle": "#f1f1f1", "fontWeight": 700, "stroke": 7, "size": 90,
                                        "fontSize": "1.125rem","fontColor": "#FF4600" }'></div>
                                    <p>Resilience</p>
                                </div>
                                <div class="skill-item">
                                    <div class="pie" data-pie='{ "index": 6, "percent": 95, "colorSlice": "#1ABC80", "colorCircle": "#f1f1f1", "fontWeight": 700, "stroke": 7, "size": 90,
                                        "fontSize": "1.125rem","fontColor": "#1ABC80" }'>
                                    </div>
                                    <p>Ethics</p>
                                </div>
                                <div class="skill-item">
                                    <div class="pie" data-pie='{ "index": 4, "percent": 80, "colorSlice": "#1BA1D2", "colorCircle": "#f1f1f1", "fontWeight": 700, "stroke": 7, "size": 90,
                                        "fontSize": "1.125rem","fontColor": "#1BA1D2" }'>
                                    </div>
                                    <p>Compassion</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="award-items">
                            <h5>Recognitions Award</h5>
                            <div class="award-item">
                                <div class="award-inner text-center">
                                    <div class="award-img">
                                        <img src="~/images/team/doctor-single/award/01.png" alt="Award 2013">
                                    </div>
                                    <p>Award 2013</p>
                                </div>
                                <div class="award-inner text-center">
                                    <div class="award-img">
                                        <img src="~/images/team/doctor-single/award/02.png" alt="Award 2015">
                                    </div>
                                    <p>Award 2015</p>
                                </div>
                                <div class="award-inner text-center">
                                    <div class="award-img">
                                        <img src="~/images/team/doctor-single/award/03.png" alt="Award 2021">
                                    </div>
                                    <p>Award 2021</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========Doctor-about Section Ends Here========== -->
<!-- ==========Certificate Section Start Here========== -->
<section class="certificat-section padding-tb">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="certificate-content">
                    <h2><span>Diplomas And Сertificates </span></h2>
                    <h2>Of Our Professional Doctors</h2>
                    <p>
                        It is along establshed fact that areader will bef distracted the readabe conten the point
                        inof using lorem ipsum is that has more orless normal distrbutions it along establshed
                        fact that areader will be distracted the readabe contiente the point inof using lorem ipsum
                        is that has more orless normal distrbution conten here making it look like readable
                        english.
                    </p>
                    <a href="#" class="lab-btn">
                        <span>
                            Visit Our Website <i class="icofont-double-right"></i>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="certificats-site">
                    <div class="row no-gutters">
                        <div class="col-12 col-sm-6 col-md-6">
                            <div class="certificate-item-inner">
                                <div class="certificate-thumb">
                                    <img src="~/images/certificat/01.jpg" alt="certificat">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6">
                            <div class="certificate-item-inner">
                                <div class="certificate-thumb">
                                    <img src="~/images/certificat/02.jpg" alt="certificat">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6">
                            <div class="certificate-item-inner">
                                <div class="certificate-thumb">
                                    <img src="~/images/certificat/03.jpg" alt="certificat">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6">
                            <div class="certificate-item-inner">
                                <div class="certificate-thumb">
                                    <img src="~/images/certificat/04.jpg" alt="certificat">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========Certificate Section Ends Here========== -->
<!-- ==========Sponsor Section Start Here========== -->
<div class="sponsor-section">
    <div class="container">
        <div class="sponsor-area">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="sponsor-thumb">
                        <img src="~/images/sponsor/1.png" alt="sponso-img">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="sponsor-thumb">
                        <img src="~/images/sponsor/2.png" alt="sponso-img">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="sponsor-thumb">
                        <img src="~/images/sponsor/3.png" alt="sponso-img">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="sponsor-thumb">
                        <img src="~/images/sponsor/4.png" alt="sponso-img">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="sponsor-thumb">
                        <img src="~/images/sponsor/5.png" alt="sponso-img">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="sponsor-thumb">
                        <img src="~/images/sponsor/6.png" alt="sponso-img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ==========Sponsor Section Ends Here========== -->